<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

	<title>Jeju Dashboard</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

	<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<link type="text/css" href="./static/css/ino-vue.css" rel="stylesheet">

</head>

<body>
	<div id="dashboard">

		<v-app>
			<v-main>
				<v-container style="max-width: 1580px;">
          <v-row class="mb-2">
            <v-col>
              <v-btn v-for="(item, index) in date_table" :key="index" @click="getData($event, item)"
			  	v-bind:color="select_date == item ? 'primary' : ''">{{item}}</v-btn>
            </v-col>
            <!-- <v-col>
				<v-btn @click="getData(); slideStart();" v-bind:color="cycle ? 'primary' : ''">Play</v-btn>
				<v-btn @click="slideEnd();" v-bind:color="cycle ? '' : 'primary'">Stop</v-btn>

            </v-col> -->
			<v-col>
				<v-switch  style="float: right;"
					@change="slideChange();"
					v-model="cycle"
					:label="''"
					:disabled="page_cnt == 1"
					></v-switch>
					
				</v-container>
				<!-- <v-form-checkbox v-model="cycle" name="check-button" switch>
					<strong>버튼 이미지 #1</strong>
				</v-form-checkbox> -->

			</v-col>
          </v-row>

					<v-carousel 
            v-model="slide_index" 
            :show-arrows="false"
            :interval="5000"
            :continuous="true"
            :cycle="cycle"
			height="800"
            >
						<v-carousel-item v-for="i in page_cnt" :key="i">
							<v-simple-table
									:light="true"
								>
								<template v-slot:default>
									<thead>
										<tr>
											<th class="text-left" v-for="item in time_table" :key="item.key" style="background-color: #1976d2;color: white;padding-top: 3px;padding-bottom: 3px;">
												{{item.label}}
											</th>
										</tr>
									</thead>
									<tbody>
										<tr v-for="company in company_table.slice((i == 1 ? 0 : (i-1)*page_size), i*page_size)" :key="company.id" >
											<td v-for="key in Object.keys(company)" :key="key" style="padding-top: 5px; padding-bottom: 5px;">{{ company[key] }}</td>
										</tr>
									</tbody>
								</template>
							</v-simple-table>
						</v-carousel-item>
					</v-carousel>
				</v-container>
			</v-main>
		</v-app>
	</div>


	<script type="module">
		window.app = new Vue({
			el: '#dashboard',
			vuetify: new Vuetify(),
			data: function (){
				return {
					event_id: 0,
					cycle: false,
					slide_index: 0,
					date_table: [],
					time_table: [],
					company_table: [],
					page_cnt: 0,
					page_size: 10,
					select_date: '',
				}
			},
			mounted: function () {
				this.$nextTick(async function () {
					this.event_id = window.location.hash.split('event_id=')[1];
					// this.event_id = 106;
					await this.getData();
				})
			},
			watch: {
				slide_index: async function () {
					if (this.slide_index == 0) {
						this.getData();
					}
				}
			},
			methods: {
				getData: async function (event, date) {
					let url = `http://14.63.172.119/api/v1/meeting/dashboard?event_id=${this.event_id}`;
					if (date) {
						url = url + `&search_date=${date}`;
					}
					// console.log(url);
					let response = await axios.get(url);
					let rs = response.data.result;
					// console.log(response);
					this.date_table = rs.date_table;
					this.time_table = rs.time_table;
					this.company_table = rs.company_table;
					this.page_cnt = Math.ceil(this.company_table.length/this.page_size);
					this.select_date = rs.select_date;
					this.slideStart();
				},
				slideStart: async function() {
					if(this.page_cnt > 1)this.cycle = true;
					// console.log('cycle slideStart', this.cycle);
				},
				slideEnd() {
					this.cycle = false;
					// console.log('cycle slideEnd', this.cycle);
				},
				slideChange(){
					// if(this.cycle){
					// 	this.slideEnd();
					// }else{
					// 	this.slideStart();
					// }
					if(this.page_cnt <= 1){
						this.cycle = !this.cycle;
						
					}
					// console.log('cycle slideChange', this.cycle);
				}
			}
		})
	</script>
</body>

</html>