<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

	<title>Jeju Dashboard</title>

	<script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
	<script src="https://unpkg.com/http-vue-loader"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

	<!-- vue glide -->
	<!-- <script src="https://cdn.rawgit.com/SSENSE/vue-carousel/6823411d/dist/vue-carousel.min.js"></script> -->

	<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
</head>

<body>
	<div id="dashboard">
		<!-- 
		<b-row style="max-width:1598px; height: 50px;">
			<b-col cols="9" class="pt-1 pl-3">
				<b-button v-for="(item, index) in date_table" :key="index" variant="outline-primary" class="mr-1" @click="getData($event, item)">{{item}}</b-button>
			</b-col>
			<b-col cols="3" class="text-right pt-1">
				<b-button variant="primary" @click="slideStart">Play</b-button>
				<b-button variant="primary" @click="slideEnd">Stop</b-button>
			</b-col>
		</b-row>
		 -->
		<v-app>
			<v-main>
				<v-container>
					<v-carousel
					cycle
					height="400"
					hide-delimiter-background
					show-arrows-on-hover
				>
					<template v-slot:prev="{ on, attrs }">
					<v-btn
						color="success"
						v-bind="attrs"
						v-on="on"
					>Previous slide</v-btn>
					</template>
					<template v-slot:next="{ on, attrs }">
					<v-btn
						color="info"
						v-bind="attrs"
						v-on="on"
					>Next slide</v-btn>
					</template>
					<v-carousel-item
					v-for="(slide, i) in slides"
					:key="i"
					>
					<v-sheet
						:color="colors[i]"
						height="100%"
					>
						<v-row
						class="fill-height"
						align="center"
						justify="center"
						>
						<div class="display-3">
							{{ slide }} Slide
						</div>
						</v-row>
					</v-sheet>
					</v-carousel-item>
				</v-carousel>

				</v-container>
			</v-main>
		</v-app>
		<main>
			<article>
				
				<!-- <carousel 
					v-model="slide_index"
					:navigation-enabled="true" 
					:per-page="1" 
					:controls="true" 
					:autoplay="autoplay"
					:loop="true"
					easing="linear"
					speed="300"
				>
					<slide v-for="idx in page_cnt" :key="idx" :data-index="idx-1">
						<b-table :fields="time_table" :items="company_table.slice((idx == 1 ? 0 : (idx-1)*page_size), idx*page_size)" small bordered head-variant="light">
						</b-table>
					</slide>
				</carousel> -->
				
				<!-- <b-card nobody>
					https://www.npmjs.com/package/vue-carousel
				</b-card> -->
			</article>
		</main>
	</div>
	<script type="module">
		window.app = new Vue({
			el: '#dashboard',
			vuetify: new Vuetify(),
			components: {
				// 'carousel': VueCarousel.Carousel,
    			// 'slide': VueCarousel.Slide
			},
			data: function (){
				return {
					event_id: 0,
					autoplay: true,
					slide_index: 0,
					date_table: [],
					time_table: [],
					company_table: [],
					page_cnt: 0,
					page_size: 3,




					colors: [
					'indigo',
					'warning',
					'pink darken-2',
					'red lighten-1',
					'deep-purple accent-4',
					],
					slides: [
					'First',
					'Second',
					'Third',
					'Fourth',
					'Fifth',
					],
				}
			},
			mounted: function () {
				this.$nextTick(async function () {
					this.event_id = window.location.hash.split('event_id=')[1];
					await this.getData();
					this.autoplay = true;

				})
			},
			watch: {
				slide_index: async function () {
					console.log(this.slide_index);
					if (this.slide_index == 1) {
						// 1페이지 뿐이면 계속 호출하기 싫다
						// 
						// this.slideEnd();
						// await this.getData();
						// this.slideStart();
					}
				}
			},
			methods: {
				getData: async function (event, date) {
					
					let url = `http://14.63.172.119/api/v1/meeting/dashboard?event_id=${this.event_id}`;
					if (date) {
						url = url + `&search_date=${date}`;
					}
					console.log(url);
					let response = await axios.get(url);
					let rs = response.data.result;
					console.log(response);
					this.date_table = rs.date_table;
					this.time_table = rs.time_table;
					this.company_table = rs.company_table;
					this.page_cnt = Math.ceil(this.company_table.length/this.page_size);
					console.log(this.page_cnt);
				},
				slideStart: async function() {
					this.autoplay = true;
				},
				slideEnd() {
					this.autoplay = false;
				}
			}
		})
	</script>
</body>

</html>