<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

	<title>Jeju Dashboard</title>
	
	<link type="text/css" rel="stylesheet" href="./static/css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="./static/css/bootstrap-vue.css" />

	<script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
	<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
	<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
	<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

	<!-- vue glide -->
	<script src="https://cdn.rawgit.com/SSENSE/vue-carousel/6823411d/dist/vue-carousel.min.js"></script>


	<script src="https://unpkg.com/vueperslides"></script>
  	<link href="https://unpkg.com/vueperslides/dist/vueperslides.css" rel="stylesheet">

</head>

<body>
	<div id="dashboard">
		
		<b-row style="max-width:1598px; height: 50px;">
			<b-col cols="9" class="pt-1 pl-3">
				<b-button v-for="(item, index) in date_table" :key="index" variant="outline-primary" class="mr-1" @click="getData($event, item)">{{item}}</b-button>
			</b-col>
			<b-col cols="3" class="text-right pt-1">
				<b-button variant="primary" @click="slideStart">Play</b-button>
				<b-button variant="primary" @click="slideEnd">Stop</b-button>
			</b-col>
		</b-row>
		
		<main>
			<article>
<!-- 				
				<carousel 
					v-model="slide_index"
					:navigation-enabled="true" 
					:per-page="1" 
					:controls="true"
					:loop="true"
				>
					<slide v-for="idx in page_cnt" :key="idx" :data-index="idx-1" @pagechange="onTransitionStart" @slideclick="onTransitionStart">
						<b-table :fields="time_table" :items="company_table.slice((idx == 1 ? 0 : (idx-1)*page_size), idx*page_size)" small bordered head-variant="light">
						</b-table>
					</slide>
				</carousel>
				 -->

				<!--
					https://www.npmjs.com/package/vue-carousel
				-->
			</article>
		</main>
	</div>
	
	  <vueper-slides>
		<vueper-slide v-for="i in 5" :key="i" :title="i.toString()" />
	  </vueper-slides>

	<script type="module">
	
		window.app = new Vue({
			el: '#dashboard',
			components: {
				'carousel': VueCarousel.Carousel,
    			'slide': VueCarousel.Slide
			},
			data: function (){
				return {

					slides: [
						{
						title: 'Slide #1',
						content: 'Slide content.'
						}
					],

					event_id: 0,
					autoplay: false,
					slide_index: 0,
					date_table: [],
					time_table: [],
					company_table: [],
					page_cnt: 0,
					page_size: 3,
				}
			},
			mounted: function () {
				this.$nextTick(async function () {
					this.event_id = window.location.hash.split('event_id=')[1];
					this.event_id = 106;
					await this.getData();
				})
			},
			watch: {
				slide_index: async function () {
					console.log('watch slide index ', this.slide_index);
					let idx = this.slide_index;
					setTimeout(function() {
						idx = index;
					}, 2000);

					if (this.slide_index == 1) {
						// 1페이지 뿐이면 계속 호출하기 싫다
						// 
						// this.slideEnd();
						// await this.getData();
						// this.slideStart();
					}
				}
			},
			methods: {
				getData: async function (event, date) {
					let url = `http://14.63.172.119/api/v1/meeting/dashboard?event_id=${this.event_id}`;
					if (date) {
						url = url + `&search_date=${date}`;
					}
					console.log(url);
					let response = await axios.get(url);
					let rs = response.data.result;
					console.log(response);
					this.date_table = rs.date_table;
					this.time_table = rs.time_table;
					this.company_table = rs.company_table;
					this.page_cnt = Math.ceil(this.company_table.length/this.page_size);
					console.log('page cnt : ', this.page_cnt);

				},
				slideStart: async function() {
					this.autoplay = true;
				},
				slideEnd() {
					this.autoplay = false;
				},
				intervalFn: function (index) {
					let idx = this.slide_index;
					setTimeout(function() {
						idx = index;
					}, 2000);
				},

				// 5초 후에 정지
				// setTimeout(() => { clearInterval(timerId); alert('정지'); }, 5000);
				onTransitionStart() {

				}
			}
		})
	</script>
</body>

</html>