<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

	<title>Jeju ICC</title>

	<!-- Required Stylesheets -->
	<link type="text/css" rel="stylesheet" href="./static/css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="./static/css/bootstrap-vue.css" />

	<!-- Load polyfills to support older browsers -->
	<script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"></script>

	<!-- Required scripts -->
	<script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
	<script src="https://unpkg.com/vuex@3.6.2/dist/vuex.js"></script>
	<script src="https://unpkg.com/vuex-persistedstate/dist/vuex-persistedstate.umd.js"></script>
	
	<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
	<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
	<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
	<script src="https://unpkg.com/http-vue-loader"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

	<!-- inowing -->
	<!-- Quill JS Vue -->
	<script src="https://cdn.quilljs.com/1.3.4/quill.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue-quill-editor@3.0.4/dist/vue-quill-editor.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>

	<!-- Include stylesheet -->
	<link type="text/css" href="https://cdn.quilljs.com/1.3.4/quill.core.css" rel="stylesheet">
	<link type="text/css" href="https://cdn.quilljs.com/1.3.4/quill.snow.css" rel="stylesheet">

	<link type="text/css" href="./static/css/ino-vue.css" rel="stylesheet">

</head>

<body>
	<div id="app">
		<header class="ino-gradient" style="height: 50px;">
			<b-row>
				<b-col cols="3" class="text-left">
					<b-button squared v-show="!navShow" variant="info" v-b-toggle.sidebar-1 style="height: 50px;"><b-icon-list></b-icon-list></b-button>
				</b-col>
				<b-col cols="6">
					<div v-show="navShow" style="max-height:48px; max-width:250px; object-fit:contain; margin: 0px auto; padding-top: 0px;">
						<b-img :src="logo_url" fluid style="display:inline-block; width:100%; height: 100%;"></b-img>
					</div>
				</b-col>
				<b-sidebar id="sidebar-1" title="Jeju ICC" shadow>
					<div class="px-3 py-2" style="background-color: #e1e9eb"><navi></navi></div>
				</b-sidebar>
				<b-col cols="3" class="text-right"><b-button @click="myLink" squared variant="info" style="height: 50px;"><b-icon-link45deg></b-icon-link45deg> <span v-show="navShow">사이트바로가기</span></b-button></b-col>
			</b-row>
		</header>
		<main ref="inoResizer">
			<nav v-show="navShow" style="background-color: #e1e9eb">
				<navi></navi>
				<b-row class="text-center mt-3 p-1">
					<b-col>
<!-- 
						<div style="max-height:50px; object-fit:contain; margin: 0 auto;">
							<b-img src="https://fontmeme.com/permalink/210329/04a9db2848ced6fe0a44ed43adacb158.png" fluid style="display:inline-block; width:100%; height: 100%;"></b-img>
						</div>
						 -->
						<span class="mt-5" style="color: aliceblue; font: 10pt;">
							<!-- ⒿⒺⒿⓊ ⒾⒸⒸ -->
							<!-- ¸.·✩·.¸¸.·¯⍣✩ ⓙⓔⓙⓤ ⓘⓒⓒ ✩⍣¯·.¸¸.·✩·.¸ -->
							<!-- ᴊᴇᴊᴜ ɪᴄᴄ -->

						</span>
					</b-col>
				</b-row>
			</nav>
			<article>
				<router-view></router-view>
			</article>
		</main>

		<b-modal v-model="link_modal" hide-footer title="사이트 바로가기">
			<b-card>
				<b-form-group label="이동하실 사이트 주소를 입력해 주세요." label-variant="success">
					<b-form-input v-model="site_url" @keyup.enter="goCMS" size="sm"></b-form-input>
				</b-form-group>
				<b-card-text>
					<b-button size="sm" variant="primary">
						저장하기
					</b-button>
					<b-button size="sm" variant="success" @click="goCMS">
						이동하기
					</b-button>
				</b-card-text>
		   </b-card>
	   </b-modal>
	</div>
	<script type="module">
		import { store } from './vue/store.js';
		import InowingPlugin from './vue/InowingPlugin.js'

		Vue.use(httpVueLoader);
		Vue.use(VueQuillEditor);
		Vue.use(InowingPlugin);

		const routes = [];
		const router = new VueRouter({ routes: routes });

		window.EventBus = new Vue();
		window.app = new Vue({
			el: '#app',
			mode: 'history',
			store: store,
			components: {
				navi: window.httpVueLoader(`./vue/navi.vue`),
			},
			router: router,
			data: function (){
				return {
					api_url: null,
					event_id: 0,
					navShow: true,
					logo_url: '',
					link_modal: false,
					site_url: ''
				}
			},
			
			mounted: function () {
				this.$nextTick(async function () {
					
					this.api_url = this.$store.getters.api_url;
					this.event_id = this.$store.getters.event_id;
					await this.getData();

					this.navShow = this.$refs.inoResizer.clientWidth > 800 ? true : false; // 네비게이션 쇼,하이드
					router.addRoute({ path: '/', component: window.httpVueLoader('./vue/site_info.vue') });
					router.addRoute({ path: '/site_info', component: window.httpVueLoader('./vue/site_info.vue') });
					router.addRoute({ path: '/familysite', component: window.httpVueLoader('./vue/familysite.vue') });
					router.addRoute({ path: '/popup', component: window.httpVueLoader('./vue/popup.vue') });
					router.addRoute({ path: '/banner', component: window.httpVueLoader('./vue/banner.vue') });
					router.addRoute({ path: '/copy', component: window.httpVueLoader('./vue/copy.vue') });

					router.addRoute({ path: '/mainmenu', component: window.httpVueLoader('./vue/mainmenu.vue') });
					router.addRoute({ path: '/mainmenu/category', name: 'category', component: window.httpVueLoader('./vue/category.vue') });
					router.addRoute({ path: '/mainmenu/contents/overview', name: 'overview', component: window.httpVueLoader('./vue/overview.vue') });
					router.addRoute({ path: '/mainmenu/contents/exhibition_a', name: 'exhibition_a', component: window.httpVueLoader('./vue/exhibition_a.vue') });
					router.addRoute({ path: '/mainmenu/contents/exhibition_b', name: 'exhibition_b', component: window.httpVueLoader('./vue/exhibition_b.vue') });
					router.addRoute({ path: '/mainmenu/contents/exhibition', name: 'exhibition', component: window.httpVueLoader('./vue/exhibition.vue') });
					router.addRoute({ path: '/mainmenu/contents/exhibition/form', name: 'exhibition_form', component: window.httpVueLoader('./vue/exhibition_form.vue') });
					router.addRoute({ path: '/mainmenu/contents/e_library/list', name: 'exhibition_libray_type1_list', component: window.httpVueLoader('./vue/exhibition_libray_type1_list.vue') });
					router.addRoute({ path: '/mainmenu/contents/exhibition/question', name: 'exhibition_question', component: window.httpVueLoader('./vue/exhibition_question.vue') });
					router.addRoute({ path: '/mainmenu/contents/movie', name: 'movie', component: window.httpVueLoader('./vue/movie.vue') });
					router.addRoute({ path: '/mainmenu/contents/movie_form', name: 'movie_form', component: window.httpVueLoader('./vue/movie_form.vue') });
					router.addRoute({ path: '/mainmenu/contents/notice', name: 'notice', component: window.httpVueLoader('./vue/notice.vue') });
					router.addRoute({ path: '/mainmenu/contents/notice_form', name: 'notice_form', component: window.httpVueLoader('./vue/notice_form.vue') });
					router.addRoute({ path: '/mainmenu/manage/com_info', name: 'com_info', component: window.httpVueLoader('./vue/com_info.vue') });

					router.addRoute({ path: '/mainmenu/contents/conference', name: 'conference', component: window.httpVueLoader('./vue/conference.vue') });

					router.addRoute({ path: '/mainmenu/contents/information', name: 'information', component: window.httpVueLoader('./vue/information.vue') });
					router.addRoute({ path: '/mainmenu/contents/introduction', name: 'introduction', component: window.httpVueLoader('./vue/introduction.vue') });
					router.addRoute({ path: '/mainmenu/contents/program', name: 'program', component: window.httpVueLoader('./vue/program.vue') });
					router.addRoute({ path: '/mainmenu/contents/information_form', name: 'information_form', component: window.httpVueLoader('./vue/information_form.vue') });
					router.addRoute({ path: '/mainmenu/contents/introduction_form', name: 'introduction_form', component: window.httpVueLoader('./vue/introduction_form.vue') });
					router.addRoute({ path: '/mainmenu/contents/program_form', name: 'program_form', component: window.httpVueLoader('./vue/program_form.vue') });

					router.addRoute({ path: '/mainmenu/contents/keynote', name: 'keynote', component: window.httpVueLoader('./vue/keynote.vue') });
					router.addRoute({ path: '/mainmenu/contents/keynote_form', name: 'keynote_form', component: window.httpVueLoader('./vue/keynote_form.vue') });
					router.addRoute({ path: '/mainmenu/contents/speaker', name: 'speaker', component: window.httpVueLoader('./vue/speaker.vue') });
					router.addRoute({ path: '/mainmenu/contents/speaker_form', name: 'speaker_form', component: window.httpVueLoader('./vue/speaker_form.vue') });
					
					router.addRoute({ path: '/mainmenu/shop/product', name: 'shop_product', component: window.httpVueLoader('./vue/shop_product.vue') });
					router.addRoute({ path: '/mainmenu/shop/regist',name:'shop_regist', component: window.httpVueLoader('./vue/shop_regist.vue') });
					router.addRoute({ path: '/mainmenu/shop/order',name:'shop_order', component: window.httpVueLoader('./vue/shop_order.vue') });
					router.addRoute({ path: '/mainmenu/map/list',name:'map_list', component: window.httpVueLoader('./vue/map_list.vue') });
					router.addRoute({ path: '/mainmenu/map/form',name:'map_form', component: window.httpVueLoader('./vue/map_form.vue') });
					router.addRoute({ path: '/mainmenu/sns/list',name:'sns_list', component: window.httpVueLoader('./vue/sns_list.vue') });
					router.addRoute({ path: '/mainmenu/sns/form',name:'sns_form', component: window.httpVueLoader('./vue/sns_form.vue') });
					router.addRoute({ path: '/mainmenu/survey/list',name:'survey_list', component: window.httpVueLoader('./vue/survey_list.vue') });
					router.addRoute({ path: '/mainmenu/survey/form',name:'survey_form', component: window.httpVueLoader('./vue/survey_form.vue') });

					router.addRoute({ path: '/biz/site',name:'biz_site', component: window.httpVueLoader('./vue/biz_site.vue') });
					router.addRoute({ path: '/biz/site/form',name:'biz_site_form', component: window.httpVueLoader('./vue/biz_site_form.vue') });
					router.addRoute({ path: '/biz/schedule',name:'biz_schedule', component: window.httpVueLoader('./vue/biz_schedule.vue?v=123') });
					router.addRoute({ path: '/biz/link',name:'biz_link', component: window.httpVueLoader('./vue/biz_link.vue') });

					router.addRoute({ path: '/company/list', component: window.httpVueLoader('./vue/company_list.vue') });
					router.addRoute({ path: '/company/regist',name:'company_regist', component: window.httpVueLoader('./vue/company_regist.vue') });
					router.addRoute({ path: '/company/admin',name:'admin_list', component: window.httpVueLoader('./vue/admin_list.vue') });
					router.addRoute({ path: '/com_request', component: window.httpVueLoader('./vue/com_request.vue') });
					router.addRoute({ path: '/user_list', component: window.httpVueLoader('./vue/user_list.vue') });
					router.addRoute({ path: '/vm', component: window.httpVueLoader('./vue/vm.vue') });
					router.addRoute({ path: '/conference_notice', name:'conference_notice', component: window.httpVueLoader('./vue/conference_notice.vue') });
					router.addRoute({ path: '/stats_login', component: window.httpVueLoader('./vue/stats_login.vue') });
					router.addRoute({ path: '/stats_counsel_b', component: window.httpVueLoader('./vue/stats_counsel_b.vue') });
					router.addRoute({ path: '/stats_counsel_s', component: window.httpVueLoader('./vue/stats_counsel_s.vue') });
					router.addRoute({ path: '/stats_vm_b', component: window.httpVueLoader('./vue/stats_vm_b.vue') });
					router.addRoute({ path: '/stats_vm_s', component: window.httpVueLoader('./vue/stats_vm_s.vue') });

					this.getLogo();
				})
			},
			created: function () {
				window.addEventListener("resize", this.inowingResizeListener);
				EventBus.$on('change_logo', (payload)=>{
					this.logo_url = payload;
				});
			},
			methods: {
				inowingResizeListener: function (e) {
					this.navShow = this.$refs.inoResizer.clientWidth > 800 ? true : false;
				},
				getLogo: async function() {
					let rs = await axios.get(`${this.api_url}/event/main_page?event_id=${this.$store.getters.event_id}`);
					this.logo_url = rs.data.result.logo;
				},
				getData: async function () {
					let rs = await axios.get(`${this.api_url}/event/main_page?event_id=${this.event_id}`);
					this.site_url = rs.data.result.link;
				},
				myLink: function () {
					this.link_modal = true;
				},
				saveLink: async function () {
					let url = `${this.api_url}/event/${this.event_id}`;
					let formData = new FormData();
						formData.append('link', this.site_url);
					let rs = await axios.post(url, formData, {
						Headers: {
							'Content-Type': 'application/json'
						}
					});
					return rs;
				},
				goCMS: async function () {
					let res = await this.saveLink();
					this.getData();
					if (this.site_url.includes('http')) {
						window.location.href = this.site_url;
					} else {
						window.location.href = 'http://'+this.site_url;
					}
				}
				
			}
		})
	</script>
</body>

</html>